# Just some misc files and folders you don't need to have
Dr.Robotnik.s-Ring-Racers-v2.2-Assets
log-2024-05-16_19-09-51.txt
videos
.DS_Store
NEW spritez
list.json

# My venv, I really should not push this
venv
